/*projext_03_fishing_festival.css*/
/*design.css*/
#wrap{width:100%; min-width: 960px;height:auto; margin:0 auto;}
/* headerBox-------------------------  */
#headerBox{width:100% ;height:auto ;background-color:#ade ;padding:30px ;box-sizing:border-box;border-bottom:2px solid #00b7ff;}
  h1{width:100px ;height:100px ;background-color:#fff ;float:left;}
  #gnbArea{width:795px ;height:40px ;float:right;margin-top: 60px;}
    #gnbArea>ul{width:100% ;height:100%;}
    #gnbArea>ul>li{width:180px ;height:40px ;background-color:#00b7ff;float:left;margin-right: 25px;}
    #gnbArea>ul>li>a{font-size:26pt;line-height: 2.3rem;color: #222;}

    .title{width: 92px;height:40px ;background-color:#fff;margin-bottom: 20px;}
  


/* adBox-------------------------  */
#adBox{width:960px ;height:550px ;background-color:#cde ;box-sizing:border-box;position:relative;margin: 0 auto;}
.btn{width: 95%;height: 0;top: 50%;left:2.5%;margin-top: -70px;position:absolute;}
.btn>button{width: 20px;height: 50px;background-color: #D0EBF6;}
.btn>button:first-child{float:left;}
.btn>button:last-child{float:right;}
.banner{width: 100%;height: 100%;}
.banner>ul{width: 300%;height: 100%;}
.banner>ul>li{width: 33.333333%;height: 100%;float:left; text-align:center; line-height:500px;font-size:3rem;}
.banner>ul>li.banner_content_1{background-color: #fff;}
.banner>ul>li.banner_content_2{background-color: #aaa;}
.banner>ul>li.banner_content_3{background-color: #eee;}

/* playBox-------------------------  */
#playBox{width:960px ;height:auto ;background-color:#fff;padding:30px ;box-sizing:border-box;margin: 0 auto;}
#playBox>ul{width: 100%;height: 100%;}
#playBox>ul>li{width: 155px;height:auto;float:left;margin-right: 28px;}
.playPic{width: 100%;height: 155px;background-color: #D0EBF6;border-radius:50%;margin-bottom: 10px;}  
.playTit{width: 100%;height: 27px;background-color: #fff;}

/* top_btn */
#playBox{position:relative;}
.top_btn{width:80px;height:80px;background-color: #D0EBF6;
  position:fixed;bottom:1rem;left:50%;margin-left:31rem;padding:2rem;box-sizing:border-box;}

/* timeBox-------------------------  */
#timeBox{width:960px;height:auto ;background-color:#00b7ff ;padding:30px ;box-sizing:border-box;margin: 0 auto;}


#timeArea{width: 100%;height:395px ;background-color:#fff;}



/* cashBox-------------------------  */
#cashBox{width:960px ;height:auto ;background-color:#D0EBF6 ;padding:30px ;box-sizing:border-box;margin: 0 auto;}
#cashArea{width: 900px;height: 416px;background-color: #fff;}


/* noticeBox-------------------------  */
#noticeBox{width:960px ;height:auto ;background-color:#cff ;padding:30px ;box-sizing:border-box;margin: 0 auto;}
  #noticArea{width:550px ;height:auto ;float:left;}
    #notic{width:100% ;height:390px ;background-color:#fff;}

  #carArea{width:330px ;height:auto ;float:right;}
    #car{width:100% ;height:auto ;}
      #car>ul{width:100% ;height: 100%;}
      #car>ul>li{width:50% ;height:150px ;background-color:#fff;float:left;
            border: 5px solid #777; padding: 5px; box-sizing:border-box; border-right: 0; border-bottom:0;}
            #car>ul>li.icon_02{border-right:5px solid #777} 
            #car>ul>li.icon_03{border-bottom:5px solid #777} 
            #car>ul>li.icon_04{border-right:5px solid #777;border-bottom:5px solid #777;} 

    #juso{width:100% ;height:90px ;background-color:#fff;}




 /* fnbBox-------------------------  */
 #fnbBox{width:100% ;height:auto ;background-color:#ade ;padding:30px ;box-sizing:border-box;border-top:2px solid #00b7ff}
 #fnbArea{width:auto;height: 27px;}
 #fnbArea>ul{width: 100%;height: 100%;}
     #fnbArea>ul>li{height: 100%;background-color: #fff;float:left ;margin-left: 150px;}
 
     #fnbArea>ul>li#fnbTit_01{width: 82px;}
     #fnbArea>ul>li#fnbTit_02{width: 162px;}
     #fnbArea>ul>li#fnbTit_03{width: 82px;}
   
 /* footBox-------------------------  */
 #footBox{width:100% ;height:auto ;background-color:#fff ;padding:30px ;box-sizing:border-box;}
   #footBox>h2{width:100px ;height:100px ;background-color:#fff ;float:left;margin-right: 30px;}
   #footArea{width: 770px;height: 100px;background-color: #fff;float:left;}
 























