#wrap{width: 960px;height: auto;margin: 0 auto;}
h1{margin-bottom: 30px;}
.bdr:after{content:" ";display: block;clear:both;}
.bdr>li{width: 200px;height: 200px;line-height: 200px;background-color: #faa;float: left;margin-right: 10px;margin-bottom: 10px;text-align: center;transition: all 400ms ease-in-out;
}
.bdr>li:hover{background-color: #aaf;color: #fff;font-size: 1.5rem;}
.bdr>li:nth-child(1){border-top-left-radius: 40%;}
.bdr>li:nth-child(2){border-top-left-radius: 100%;}
.bdr>li:nth-child(3){border-top-right-radius: 50%;border-top-left-radius: 50%;}
.bdr>li:nth-child(4){border-bottom-right-radius: 50%;border-bottom-left-radius: 50%;}
.bdr>li:nth-child(5){border-radius: 50%;border-bottom-left-radius: 0;}
.bdr>li:nth-child(6){border-radius: 50% 0;}
.bdr>li:nth-child(7){border-radius: 0 100%;}
.bdr>li:nth-child(8){border-radius: 100%;}
.bdr>li:nth-child(9){border-top-left-radius: 100%;border-bottom-right-radius: 30%;}
.bdr>li:nth-child(10){border-top-left-radius:50% 100%;border-bottom-right-radius:100% 50%;}
.bdr>li:nth-child(11){border-top-left-radius: 100% 50%;border-bottom-right-radius: 100% 50%;}
.bdr>li:nth-child(12){border-top-left-radius: 100%; border-bottom-right-radius: 50% 100%;}
.bdr>li:nth-child(13){border-top-right-radius: 50% 100%;border-top-left-radius: 50% 100%}
.bdr>li:nth-child(14){border-top-left-radius: 30% 50%;border-top-right-radius: 30% 50%;border-bottom-left-radius: 30% 50%;border-bottom-right-radius: 30% 50%;}
.bdr>li:nth-child(15){border-top-left-radius: 70% 70%;border-top-right-radius: 30% 70%;}