@charset "utf-8";
html,body{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6,
p,pre,div{margin: 0;padding: 0;}
ul,ol,dl,li,dt,dd{margin: 0;padding: 0;list-style:none;}
 
header,section,footer,article,aside,nav,main,figure{display: block;}
 
/*common============================*/
.clearfix::after{content:" ";display: block;clear:both;}
.hidden{width: 0 ;height: 0;overflow:hidden;}
/*design===========================*/
#box{width:940px ;height: 3465px;background-color: pink;}
/*headBox----------------------------------*/
#headBox{width:100% ;height:auto ;background-color:#aaa;padding: 18px 36px;box-sizing:border-box;}
h1{width: 90px;height: 34px;background-color: #fff;float:left}
#highBox{width: auto;height: 34px;float:right}
  #gnbArea{width:320px ;height:100%; ;background-color:#aed;float:left;padding: 5px 0;box-sizing:border-box;margin-right: 36px;}
    #gnbArea>ul{width: 100%;height: 100%;}
      #gnbArea>ul>li{width: 50px;height: 100%;background-color: #fff;float:left;margin-right: 17px;}
      #gnbArea>ul>li.last{margin-right: 0;}
  
  #topArea{width:184px ;height:100%; background-color:#de5;float:left;margin-right: 16px;}
  #clickArea{width: 34px;height:100%; background-color:#fe0;float:left;}


/*searchBox----------------------------------*/
#searchBox{width:100% ;height:auto ;background-color:#da0;padding: 110px 60px 180px; box-sizing:border-box;}
  #searchAreaTitle{width: 100%;height: auto;padding: 0 215px;box-sizing:border-box;}  
    #searchAreaTop{width: 390px; height: 46px;background-color: #e5a;margin-bottom: 6px;}
    #searchAreamid{width:390px;height: 18px;background-color: #5ae;margin-bottom: 30px;}
  #searchArea{width: 820px;height: 58px;background-color: #fff;padding: 10px 20px;box-sizing:border-box;}

    #searhLooking{width:140px ;height:40px ;background-color:#2ac;float:left}
    
    #serchRan{width:auto ;height:100% ;float:right;}
      #searchLocaton{width:210px ;height:40px ;background-color:#eca;float:left;margin-right: 10px;}
      #searchCategores{width:210px ;height:40px;background-color:#def;float:left; margin-right: 10px;}
      #searchIcon{width:110px ;height:40px ;background-color:#8ac;float:left}


/*lnbBox----------------------------------*/
#lnbBox{width:100% ;height:auto ;background-color:#acf;padding: 10px 20px;box-sizing:border-box;}
  #lnbBox>ul{width: 100%;height: 100%;}
    #lnbBox>ul>li{width: 94px;height: 100%;background-color: #edf;float:left;margin-right: 21px;padding: 10px 26px;box-sizing:border-box;}
    #lnbBox>ul>li.last{margin-right: 0;}
      .navPic{width:42px ;height:40px ;background-color:#eee;}
      .navText{width:52px ;height:16px ;background-color:#aed;margin-right:5px;margin-top: 5px;}


/*topBox----------------------------------*/
#topBox{width:100% ;height:auto ;background-color:#eea;padding: 70px 60px;box-sizing:border-box;}
  #topAreaTitle{width: 100%;height: auto;padding: 0 215px;box-sizing:border-box;}
    #topAreaTop{width: 390px;height: 18px;background-color: #e5a;margin-bottom: 12px;}
    #topAreamid{width: 390px;height: 18px;background-color: #5ae;margin-bottom: 36px;}

  #topAreaBigP{width:400px;height:260px;background-color: #883;float:left;margin-right: 20px;}
  #topAreaSmallP{width:400px ;height:260px ;float:left;}
    #topAreaSmallP>ul{width: 100%;height:100% ;}
    #topAreaSmallP>ul>li{width: 190px;height: 122px;background-color: #fff;float:left;margin-right: 20px;margin-bottom: 16px;}
#topAreaSmallP>ul>li.last_02{margin-right: 0;}
#topAreaSmallP>ul>li.last_02{margin-bottom: 0;}
#topAreaSmallP>ul>li.last_04{margin-right: 0;margin-bottom: 0;}





/*sectionBox----------------------------------*/
#sectionBox{width:100% ;height:auto ;background-color:#cdf;padding: 70px 60px;box-sizing:border-box;}

#sectionAreaPicture{width:100% ;height: auto;}
  .secPicBox{width:260px ;height:375px ;float:left;margin-right: 20px;}
#sectionAreaPicture .last{margin-right: 0;}
    .sectionPicture{width: 260px;height:187px ;background-color:#eac;}
    .sectionContent{width:100% ;height:auto ;background-color:#40e;padding: 16px 20px 10px;box-sizing:border-box;}
      .secTit{width: 150px;height: 28px;background-color:#afc;float:left;margin-bottom: 28px;}
      .secCon{width: 218px;height:58px ;background-color:#cd3;float:left;margin-bottom: 30px;}
      .secOpen{width: 59px;height: 18px;background-color:#759;float:right;}
    



/*seeBox----------------------------------*/
#seeBox{width:100% ;height:auto ;background-color:#bec;padding: 60px;box-sizing:border-box;}

  #seeAreaTitle{width: 100%;height: auto;padding: 0 215px;box-sizing:border-box;}
    #seeAreaTop{width: 390px;height: 18px;background-color: #e5a;margin-bottom: 12px;}
    #seeAreamid{width: 390px;height: 18px;background-color: #5ae;margin-bottom: 28px;}
  #seeArea{width: 100%;height: auto;}
    #seeArea>ul{width: 100%;height: 100%;}
      #seeArea>ul>li{width: 260px;height: 142px;background-color: #555;float:left;margin-right:20px;padding: 10px;box-sizing:border-box;}
#seeArea>ul>li.last{margin-right: 0;}
        .seeicon{width: 60px;height: 44px;background-color: #fff;margin-left: 90px;margin-bottom: 20px;}
        .seeBig{width: 150px;height:18px;background-color: #e94;margin-left: 45px;margin-bottom: 6px;}
        .seeSmall{width: 197px;height: 34px;background-color: #ae9;margin-left: 23px;}
      


/*lineBox----------------------------------*/
#lineBox{width:100% ;height:120px ;background-color:#6fe;padding:50px 215px;box-sizing:border-box}
  #lineArea{width: 100%;height: 20px;background-color: #fff;}

/*teamBox----------------------------------*/
#teamBox{width:100% ;height:auto ;background-color:#e6c;padding: 55px;box-sizing:border-box;}

  #teamAreaTitle{width: 100%;height: auto;padding: 0 215px;box-sizing:border-box;}
    #teamAreaTop{width: 390px;height: 18px;background-color: #e5a;margin-bottom: 12px;}
    #teamAreamid{width: 390px;height: 18px;background-color: #5ae;margin-bottom: 18px;}
#teamAreapicture{width: auto;height: 150px;background-color: #fff;}




/*articleBox----------------------------------*/
#articleBox{width:100% ;height:auto ;background-color:#f8a;padding: 60px;box-sizing:border-box;}
  #articleAreaTitle{width: 100%;height: auto;padding: 0 215px;box-sizing:border-box;}
    #articleAreaTop{width: 390px;height: 18px;background-color: #e5a;margin-bottom: 12px;}
    #articleAreamid{width: 390px;height: 18px;background-color: #5ae;margin-bottom: 18px;}


  #articleArea>ul{width: 100%;height: 100%;}
    #articleArea>ul>li{width: 190px;height:300px;background-color: #fff;float:left;margin-right:20px;margin-bottom: 42px;padding: 10px;box-sizing:border-box;}
    #articleArea>ul>li.last{margin-right: 0;}
        .articlePic{width: 168px;height: 116px;background-color: #dec;margin-bottom: 35px;}
        .articleTit{width: 168px;height: 34px;background-color: #495;margin-bottom: 10px;}
        .articlecon{width: 168px;height: 66px;background-color: #9ec;}
    
  #articleAreaView{width: 105px; height: 36px;background-color: #fff;margin-left: 360px;}




/*emailBox----------------------------------*/
#emailBox{width:100% ;height:auto ;background-color:#8de;padding:50px;box-sizing:border-box ;}
#emailArea{width: 300px;height: 24px;background-color: #fff;float:left}
#emailSearch{width: 300px;height: 28px;background-color: #fff;float:right}


/*footBox----------------------------------*/
#footBox{width:100% ;height:auto ;background-color:#7e1;padding: 50px;box-sizing:border-box;}
  #footArea{width:;height: 110px;float:left}
    #footArea>ul{width: 100%;height: 100%;}
      #footArea>ul>li{width: 180px;height: 110px;;float:left;margin-right:40px ;}

        .footTit{width:100px;height: 24px;background-color: #e96; margin-bottom: 16px;}
        .footcon{width:180px;height: 70px;background-color: #de8; ;}
  #footPic{width: 180px;height: 110px;background-color: #fff;float:left}


/*fnbBox----------------------------------*/
#fnbBox{width:100% ;height:auto ;background-color:#546;padding: 15px 50px;box-sizing:border-box;}
  #fnbArea{width:260px;height: 16px;background-color: #fff;float:left;margin-right: 50px;}
  #fnbArea.last{margin-right: 0;}
  #fnbicon{width:160px;height: 16px;background-color: #fff;float:right}



 
 













 