#loginBox{width: 960px;height: auto;margin: 0 auto;}

  .loginArea{width: 50%;height: auto;float:left;}
    
    .tit{width: 110px;font-size:2rem;text-align: center;border-top:10px solid #DF1566;margin: 0 auto;box-sizing: border-box;}
    
    .content{width: 100%;height: auto;border:1px solid #222;padding: 50px;box-sizing: border-box;}
      .log_enter{width: 100%;height: auto;}
        .log_enter>ul{width: 100%;height: 100%;}
          .log_enter>ul>li{width: 300px;height: 40px;background-color: 333px;margin:0 auto;border-left:5px solid #df1566;padding: 10px;box-sizing:border-box;margin-bottom: 50px;}
            .id{width: 100%;height: 100%;}
            .write{}

       .log_btn{width: 100%;height: auto;margin: 0 auto;padding: 0 90px;box-sizing:border-box;margin-bottom: 30px}
         .log_btn>div{width: 20%;float: left;border-top:5px solid #F9D6DD;
     margin-right: 80px;}
           div>button{width: 100%;text-align:center;}


      .log_search{width: 100%;height: auto;padding: 20px;box-sizing:border-box;}   
        .remember{width: 100%;height: auto;margin-bottom: 10px;}
          .remember>div{height: 15px;float: left;}



        .kye{width: 100%;height: auto;}
          .kye>div{height: 15px;float: left;}
          .kye>div.icon{width: 15px;margin-right: 10px;}

      
    
  
.non>.content{height: 419px;}
.log_btn>button{width: 20%;float: left;border-top:5px solid #F9D6DD;
     margin-right: 80px;text-align:center;margin-left: 70px}























