@charset "utf-8";

html,body{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6,
p,pre,div{margin: 0;padding: 0;}
ul,ol,dl,li,dd,dt{margin: 0; padding: 0;list-style: none;}

header,section,footer,aside,article,nav,main,figure{display: block;}

/*commom==================================*/
.clearfix::after{content:" ";display: block; clear:both;}

.hidden{width: :0;height: 0;overflow:hidden;}

/* design =====================================*/
#box{width: 700px;height: auto;}



/* #headBox------------------------------------*/
#headBox{width: 100%;height:80px ;background-color:#0fa;padding: 15px 30px;box-sizing:border-box;}
  h1{width:100px ;height:50px ;background-color:#fff;float:left;}
  #gnbArea{width:450px: ;height:30px ;background-color:#aef;float:right;margin-top: 20px;}
#gnbArea>ul{width: 100%;height: 100%;}
#gnbArea>ul>li{width: 100px;height: 100%;background-color: #fff;float:left ;margin-right: 10px;}
#gnbArea>ul>li.last{margin-right:0;}

/* #bannerBox------------------------------------*/
#bannerBox{width: 100%;height:250px ;background-color:#aa0;}



/* #asideBox------------------------------------*/
#asideBox{width: 100%;height:35px ;background-color:#333;}



/* #articleBox------------------------------------*/
#articleBox{width: 100%;height:auto;}
#news{width: 50%;height:300px;background-color:#a7a;float:left;padding:25px;box-sizing:border-box ;}
#news>ul{width: 100%;  height: 100%;}
#news>ul>li{width: 50%;  height: 50%;background-color: #fff;float:left;padding:5px ;box-sizing:border-box;}
#news>ul>li>.last{width: 100%; height: 100%;background-color: #ccc;}



#ad{width: 50%;height:300px ;background-color:#7a7;float:left;padding:20px;box-sizing:border-box;}
#ad>ul{width:100% ;height: 100%;}
#ad>ul>li{width:310px ;height: 80px;margin-bottom: 10px;background-color: #fff;}
#ad li.last{margin-bottom: 0;}




/* #footBox------------------------------------*/
#footBox{width: 100%;height:80px ;background-color:#fa0;}





































