@charset "utf-8";

html,body{margin: :0; padding: 0;}
h1,h2,h3,h4,h5,h6,
p,pre,div{margin: 0;padding: 0;}
ul,ol,dl,li,dd,dt{margin: 0; padding:0;list-style: none;}
a{text-decoration: none; color: #f0a;}

header,section,footer,aside,article,na,main,figure{display: block;}

/*commom==================================*/
.clearfix::after{content:" ";display: block; clear:both;}

.hidden{width: :0;height: 0;overflow:hidden;}

/* design =====================================*/
body{background-color: #032;}

#box{width: 700px;height: auto; }


/*#headBox-------------------------------------*/
#headBox{width:100% ;height:80px;background-color: #bac;
  padding: 15px 30px; box-sizing: border-box;}
  h1 {width:100px; height:50px ;background-color: #fff ;float:left;}
  #gnbArea{width:450px ;height:30px ;float:right;margin-top: 20px;}
    #gnbArea>ul{width:100% ;height: 100%;}
    #gnbArea>ul>li{width:100px;height:30px;background-color: #fff;float:left; margin-right: 16px;}
    #gnbArea>ul>li.last{margin-right:0;}




/*#bannerBox------------------------------------*/
#bannerBox{width:100% ;height:250px;background-color: #eed ;}


/*#asidBox--------------------------------------*/
#asidBox{width:100% ;height:35px;background-color: #478 ;}


/*#sectionBox-----------------------------------*/
#sectionBox{width:100% ;height:auto;}

  #news{width: 50%;height: 300px;background-color:#678; float:left;
    padding: 10px; box-sizing:border-box;}
    #news>ul{width: 100%;height: 100% ;background-color: #faa;}

/*type_01 가장 이상적 수정용이!!!!*/

#news>ul>li{width: 50%;height: 50%;float:left;
  background-color: #fa6;
padding: 5px;box-sizing:border-box;}
#news>ul>li>a{display: block;width: 100%;height: 100%;background-color: #ccc;}

/*type_02 세밀하게 조정하기!!*/
/*
#news>ul>li{width: calc(50% - 10px); height: 50%;float:left;background-color: #3a6;margin: 5px;}
#news li.news_01{margin-top:0; margin-left: 0 ;}
#news li.news_02{margin-top:0; margin-right:0 ;}
#news li.news_03{margin-bottom:0; margin-left: 0 ;}
#news li.news_04{margin-bottom:0; margin-right: 0;}
*/


  #info{width: 50%;height: 300px;background-color:#def; float:left;padding: 15px; box-sizing: border-box;}
#info>ul{width:100% ;height:100% ;}
#info>ul>li{width: 100%;height:80px;margin-bottom: 10px;background-color: #fff;}
#info li.last{margin-bottom:0;}
/*#fnb-------------------------------------------*/
#fnb{width:100% ;height:80px;background-color: #eab ;}






































