/*design.css*/
#wrap{width:960px; height:auto; margin:0 auto;}
/* headerBox-------------------------  */
#headerBox{width:100% ;height:auto ;background-color:#ade ;padding:30px ;box-sizing:border-box;border-bottom:2px solid #00b7ff;}
  h1{width:100px ;height:100px ;background-color:#fff ;float:left;}
  #gnbArea{width:795px ;height:40px ;float:right;margin-top: 60px;}
    #gnbArea>ul{width:100% ;height:100%;}
    #gnbArea>ul>li{width:180px ;height:40px ;background-color:#00b7ff;float:left;margin-right: 25px;}


 .title{height:40px ;background-color:#fff;margin-bottom: 20px;}



 /* foodBox---------------------------- */
 #foodBox{width:100%;height:auto;padding:30px;box-sizing:border-box;}
 #foodBox>ul{width:100%;height:100%;}
 ul>li{width:195px;height:300px;float:left;
  margin-right:40px;}
 .picture{width:100%;height:210px;background-color:#aaa;margin-bottom:20px;}
 .text{width:100%;height:50px;background:#fff;border-left:1px solid #222;}
 .p_title{margin-bottom:5px;}
 /* palyBox---------------------------- */
 #playBox{width:100%;height:auto;padding:30px;box-sizing:border-box;}
 #playBox>ul{width:100%;height:100%;}

 /* fnbBox-------------------------  */
#fnbBox{width:100% ;height:auto ;background-color:#ade ;padding:30px ;box-sizing:border-box;border-top:2px solid #00b7ff}
#fnbArea{width:auto;height: 27px;}
#fnbArea>ul{width: 100%;height: 100%;}
    #fnbArea>ul>li{height: 100%;background-color: #fff;float:left ;margin-left: 150px;}

    #fnbArea>ul>li#fnbTit_01{width: 82px;}
    #fnbArea>ul>li#fnbTit_02{width: 162px;}
    #fnbArea>ul>li#fnbTit_03{width: 82px;}
  
/* footBox-------------------------  */
#footBox{width:100% ;height:auto ;background-color:#fff ;padding:30px ;box-sizing:border-box;}
  #footBox>h2{width:100px ;height:100px ;background-color:#fff ;float:left;margin-right: 30px;}
  #footArea{width: 770px;height: 100px;background-color: #fff;float:left;}
