.tit{width: 120px;}

/*f_1_2_processBox-----------*/
#processBox{width: 960px;height: auto;background-color: #F9D6DD;padding: 30px;box-sizing: border-box;margin: 0 auto;}

#processBox>ul{width: 100%;height: 100%;}
#processBox>ul>li{float: left;}
#processBox>ul>li.pro_content{width: 125px;height: auto;margin-right: 20px;}
  li>.pro_con_icon{height: 125px;background-color: #DF1566;border-radius: 50%;margin-bottom: 15px; ;}
  li>.pro_con_text{text-align: center;font-size:1rem;}

#processBox>ul>li.pro_arrow{width: 40px;height: 40px;margin-top:60px }

/*f_1_3_periodBox------------------*/
#periodBox{width: 960px;padding: 50px 30px;box-sizing: border-box;margin: 0 auto;}

  .per_day_area{float: left;}
    .per_day_btn{}
    .per_day_btn>ul{width: 208px;height: 30px;border:1px solid #222;}
    .per_day_btn>ul>li{height: 30px;background-color: #F9D6DD;float: left;border-right:1px solid #222;padding: 5px;box-sizing: border-box;}
    .per_day_btn>ul>li:hover{cursor: pointer;background-color: #DF1566}
.per_day_btn>ul>li>button{width: 100%;height: 100%;background-color: transparent;}


    .per_day_search{width: 100%;padding: 15px 0;box-sizing: border-box;}
    .per_day_search>div{float: left;margin-right: 20px}
      .search_before{float: left;}
        .search_before>ul{width: 100%;height:100%;border: 1px solid #222;box-sizing: border-box;}
        .search_before>ul>li{background-color: #eee;color: #888;float: left;
          border-right:1px dotted #888;padding: 5px 10px;box-sizing: border-box;}



  .per_btn{width: 90px;height: 90px;background-color: #DF1566;color: #fff;float: right;}
  .per_btn>button{width: 100%;height: 100%;background-color: transparent;}






















