#milegeBox{width: 960px;height: 210px;margin: 0 auto;}

.tit{width: 120px;}

.milege_pic{width: 210px;height: 100%;background-color: #eee;float: left;}

.milege_point_area{width: 660px;height: 100%;float: left;padding: 30px;box-sizing: border-box;}
  .milege_point_area>.milege_point_tit{margin-bottom: 30px}
  .milege_point_area>.milege_point_p{text-align: center;color: #DF1566;font-size:3rem;}

/*milege_btn---------*/
.milege_btn{width: 90px;height: 100%;float: right;background-color: #F9D6DD;padding:0 30px;box-sizing: border-box;}
.milege_btn:hover{background-color: #DF1566;color: #fff;}
.milege_btn>button{width: 100%;height: 100%;background-color: inherit;}